[submodule "src/laser-measles"]
	path = src/laser-measles
	url = git@github.com:InstituteforDiseaseModeling/laser-measles.git
[submodule "src/laser-mcp"]
	path = src/laser-mcp
	url = git@github.com:krosenfeld-IDM/laser-mcp.git
